@media (max-width: 992px){
	.nav-justified{
		padding-bottom: 20px;
	}
	.nav-justified>li{
		display: block;
		width:auto;
		padding-bottom:0px;
		padding-top:12px;
	}
	.tagNavBar{
		background-color: #000;
		position: relative;
		z-index: 0;
		/*top:50px;*/
		/*width:100%;*/
	}
	.tagNavText{
		font-size: 5vw;
		line-height: 5vw;
	}

	.tagEnglish{
		display: inline-block;
		height:auto;
		margin-right: 6px;	
	}
	.tagChinese{
		display: inline-block;
		opacity: 0;
		
	}	
	.tagButton{
		display: block;
		background-color:#000;
		color:#fff;		
		border-bottom:1px solid #000;
		margin: 20px auto;
	}
	.tagButton:hover{
		border-bottom:1px solid #fff;
		/*padding-bottom:16px;*/
		color:#fff;		
		transition: .1s;
	}

	/* show caption on mobile */
	.listCaption{
		opacity: 1;
	}
	.listCaption>.listBackCircle>.vCenterCell{
		opacity: 1;
	}
	.listCaption .listBackCircle>.acContainer .acHalfClip {
    	transform: rotate(180deg);
    	opacity: 1;
    } 

	.listCaption .listBackCircle>.acContainer .acClipped {
	    transform: rotate(135deg);
	    opacity: 1;
	}

	.listCaption .listBackCircle>.acContainer .acFixed {
	    opacity: 1;
	}

}