<div class="container-fluid">


<div class="headerBack aboutHeader">
	<!-- <div class="contentImage" >
		<img class="fullImage" src="image/about/title_1.jpg" style="width:100%"/>
		</div> -->


<div class="headText artgitalRed">About</div>	
	
	<div class="headArea titleFont vcenterWrap">
		<div class="preText headTitle vcenterCell">We dream big
through technology!</div>
	</div>
	
</div>



<div class="hideToScroll"
	when-visible="animateElementIn"
	when-not-visible="animateElementOut">
		<img class="fullImage" src="image/about/title_2.jpg" />
</div>

<div class="aboutBottomText aboutTextArea hideToScroll"
	when-visible="animateElementIn"
	when-not-visible="animateElementOut">
	<div class="aboutTextH1 titleFont">Who We Are?</div>	
	<div class="preText">
『artgital』是由art 與digital 造字而來，讓視覺藝術與數位科技得到完美結合，是我們的使命。

我們擁有設計師的獨特眼光與藝術品味、工程師的程式設計與邏輯規劃，以及行銷與業務人員的溝通協調與執行能力，能將跨領域作出最有創意的整合，並精準訴說商品的故事，進而帶給生活者更完整、更具說服力的商品體驗與深度溝通

	</div>
</div>
<div class="clearfix">
	<div class="col-md-6 hideToScroll"
		when-visible="animateElementIn"
		when-not-visible="animateElementOut">
		<div class="image4by3">
			<img class="fullImage" src="image/about/sub_1.png"/>
		</div>
	</div>
	<div class="col-md-6 hideToScroll"
		when-visible="animateElementIn"
		when-not-visible="animateElementOut">
		<div class="image4by3">
			<img class="fullImage" src="image/about/sub_2.png"/>
		</div>
	</div>
</div>


<div class="aboutBottomText aboutTextArea hideToScroll"
	when-visible="animateElementIn"
	when-not-visible="animateElementOut">
	<div class="aboutTextH1 titleFont">What We Do?</div>
	<div class="aboutTextH2 titleFont preText">「...人們可能會忘了你曾經說過或做過什麼事情，但人們永遠不會忘記你給他們的感受。」--馬婭·安傑盧 (詩人與哲學家)</div>
	<div class="aboutTextH2 titleFont">商品是有形的，服務是無形的，而art<span class="artgitalRed">g</span>ital所帶來的體驗是難忘的</div>
	<div class="preText">
好的故事永遠具有說服力，而如何將一個好的故事傳達給目標族群，是我們最在乎的事；有別於以往傳統廣告行銷模式的「單向」傳播，互動科技為行銷方式帶來了全新的改變，也賦予消費者充滿想像以及前所未見的商品體驗。

artgital 致力於 advergaming (advertising + game ) 與 prosumer (producer + consumer) 的整合，以創造最具話題性的行銷模式為目標。我們的挑戰不單是為商品服務量身打造更深刻的互動體驗，更是將數位的元素融入藝術表現中，開創科技互動時代下的最新趨勢；同時，我們期望將互動科技的美好與想像帶到你我的生活中，讓更多生活者能夠享受互動的過程，並在體驗結束後所產生獨一無二的 UGC (User Generated Content)；再透過網路的力量的發酵與分享，將實體與虛擬 (O2O) 做完美的整合與應用。

我們能預見在未來，世人將讚嘆新興互動科技的軟實力，並對饒富想像的互動科技被實踐於生活中備感驚艷！現在，就讓artgital與您一起──以最直覺的角度，感受科技互動下的溫度。

	</div>
</div>



</div>

<div class="container-fluid moreProject hideToScroll"
	when-visible="animateElementIn"
	when-not-visible="animateElementOut">
	<h1 class="moreProjectTitle titleFont">More Projects</h1>
	<div class="col-md-3 thumbnail animate-repeat" ng-repeat="item in relatedItems">
	     <ag-list-caption item-info="item" item-tag="{{getTagName(item.tag)}}"></ag-list-caption>      
	</div>
</div>

